.form {
    margin: 10px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid #37750e;
    transition: background-color 0.2s ease;
    font-size: 14px;
    color: #180028;
}

.input:hover,
.input:active,
.input:focus {
    border: 2px solid #7aea2f;
}

.btn {
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #7aea2f;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    color: #280f3c;
}

.btn:hover,
.btn:focus {
    background-color: #37750e;
    animation: pulse 1.5s infinite;
    color: #fff6f6de;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}