.cast {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.castItem {
    width: calc(100% - 10) / 2;
}

.topic {
    margin-top: 5px;
    color: #7aea2f;
    max-width: 150px;
    font-size: 14px;
}

.dscr {
    max-width: 150px;
    font-size: 12px;
}